header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}

.main {
  display: flex;
  margin-top: 0px;
}

ul {
  padding-inline-start: 0;
}

header a {
  color: black;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 26pt;
  font-family: "Raleway", sans-serif;
  border-bottom: solid rgb(194, 164, 122);
}

h4 {
  background-color: rgb(132, 151, 173);
}

.main {
  margin-top: 10%;
}

.head,
.order {
  margin: 0 30px 0 30px;
  font-size: 13.5pt;
  list-style: none;
  max-width: 100%;
}

.order {
  margin: -15px 15px -15px 15px;
  padding: 15px;
  border: solid rgb(132, 151, 173);
}

a {
  text-decoration: none;
}


.container img {
  margin-top: 2%;
  position: relative;
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
  height: 900px;
}

.container {
  position: relative;
  color: white;
  text-shadow: 2px 2px 5px black;

  font-family: "Raleway", sans-serif;
  text-align: center;
}

.container h2 {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34pt;
  width: 100%;
}

.container h3 {
  position: absolute;
  border-bottom: solid rgb(194, 164, 122);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
}

.container h4 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 30px;
  font-size: 30pt;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 13.5pt;
  list-style: none;
}

footer {
  display: grid;
  position: relative;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33% 33%;
  margin-top: 2%;
  
}

footer h3 {
  font-family: "raleway", sans-serif;
  border-bottom: solid rgb(194, 164, 122);
  width: fit-content;
}

li { 
  list-style-type: none;
 }

.return {
  font-size: 50px;
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-end;
}

.return a {
  color: rgb(132, 151, 173);
}

footer ul {
  margin-left: 3%;
}

.café {
  grid-column-start: 1;
  grid-column-end: 3;
}

.adress-contact {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  font-family: "nunito", sans-serif;
}

.opening-hours {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  font-family: "nunito", sans-serif;
}

.social-media {
  display: flex;
  align-items: center;
  grid-column-start: 3;
  grid-row-start: 2;
  justify-content: start;
}

h5 {
  font-size: 26pt;
  width: fit-content;
  margin-top: 6%;
  font-family: "Raleway", sans-serif;
  border-bottom: solid rgb(194, 164, 122);
}

.title {
  display: flex;
  justify-content: center;
}

h6 {
  font-size: 18pt;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 33% 33% 33%;
}

main img {
  height: 200px;
}

.boba {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: 50px;
  margin-left: 20px;
}

.taro {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 50px;
  margin-left: 100px;
}

.fruit {
  grid-column-start: 4;
  grid-row-start: 3;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: 50px;
  margin-left: 20px;
}

.first-pargraph {
  grid-column-start: 2;
  grid-column-end: 4;
}
.second-paragraph {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
}

.third-paragraph {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(132, 151, 173);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(96, 109, 121);
}

@media (max-width: 1500px) {
  .taro {
    margin-left: 20px;
  }
}

@media (max-width: 1050px) {
  .taro {
    grid-column-start: 1;
    margin-left: 140px;
  }
}

@media (max-width: 768px) {
  .main {
    display: none;
  }

  .main li {
    margin-top: 20%;
  }

  .icon {
    font-size: 26pt;
  }

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
  }

  .main.toggleCls {
    display: flex;
    flex-direction: column;
  }

  .social-media {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  .boba,
  .fruit {
    margin-top: 80px;
  }

  .taro {
    margin-left: 70px;
    margin-top: 80px;
  }
}

@media (max-width: 660px) {
  .taro {
    margin-left: 50px;
  }
}

@media (max-width: 550px) {
  .opening-hours {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  footer {
    display: grid;
    position: relative;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 25% 25%;
  }
  .social-media {
    grid-column-start: 1;
    grid-row-start: 5;
  }

  main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
  }

  .container h2 {
    font-size: 28pt;
    top: 34%;
  }

  .container h3 {
    font-size: 42px;
  }

  .container h4 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .first-pargraph {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 10px;
  }
  .second-paragraph {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 10px;
  }

  .third-paragraph {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    margin-left: 10px;
  }

  .taro {
    grid-column-start: 1;
    margin-left: 0px;
    margin-right: 15px;
  }

  .boba,
  .fruit {
    margin-left: 15px;
  }
}

@media (max-width: 425px) {
  .fruit,
  .boba,
  .taro {
    height: 140px;
    margin-top: 160px;
  }
}

@media (max-width: 350px) {
  .fruit,
  .boba,
  .taro {
    display: none;
  }

  .first-pargraph,
  .third-paragraph {
    grid-column-end: 6;
  }

  .second-paragraph {
    grid-column-start: 1;
  }
}

@media (min-width: 769px) {
  .icon {
    display: none;
  }
}
